
body{
    margin: 0;
}

/*---------css comun---------*/
body h2, h3, h4, h5{
    color: dodgerblue;
}
.banner{
    background-color: rgba(86, 169, 252, 0.52);
    color: white;
    padding: 20px 0;
}
.banner h2{
    color: white;
}
.banner button{
    background-color: rgba(86, 169, 252, 0.52);
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 5px 10px;
}
.banner #llamado{
    padding-top: 30px;
}

/*--------header--------*/
header{
    background-image: url(../image/large.jpg);
    background-size: cover;
    color: white;
}
header a{
    color: white;
}
header img, nav{
    
}
h1{
    margin: 150px 0;
}
.fondo-transparente{
    background-color: rgba(21, 36, 42, 0.37);
}


/*-----------services-------*/
.services{
    margin-bottom: 100px;
}
.services h3{
    padding: 50px 30px;
    
}
.services .icon-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 50px;
    color: dodgerblue;
    border-radius: 100%;
    box-shadow: -2px 2px 10px rgba(0,0,0,6);
}
.services h4{
    margin: 30px auto;
    width: 170px;
    
}
 /*----------------video------------*/
.video{
    border-top: 1px solid darkgray;
    border-top-style: solid;
    box-sizing: border-box;
    margin: 0 auto;
}
.video .container .separador{
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-top: -55px;
}

.video .ejemplo{
    margin: 60px auto;
}
.video h3{
    display: inline-block;
    font-size: 30px;
    position: relative;
    left: 40px;
}

.ejemplo p{
margin: 18px 0;
}
.ejemplo small{
    color: dodgerblue;
}
.ejemplo .flecha{
    display: block;
    margin: 0 auto;
}

/*------------------pasos---------------------*/
.pasos{
    border: 1px solid darkgray;
}
.texto-pasos .iconos i{
    font-size: 30px;
    color: white;
    background-color: dodgerblue;
    border-radius: 100%;
    border: 10px solid dodgerblue; 
    position: absolute;
    left: -25px;
}
.pasos .imagen img{
    width: 100%;
}
.pasos .imagen{
    height: 500px;
    background-image: url(../image/sec-2.jpg);
    background-size: cover;
    opacity:0.5;
}
.pasos .texto-pasos{
    padding-left: 40px;
    margin: 20px 0;
    padding-bottom:15px;
}
.pasos .texto-pasos .iconos{
    padding: 10px 0;
}



/*----------uso testing----------*/
.uso-testing .testing{
    margin-bottom: 80px;
}

.uso-testing .separador{
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 55px;
}
.uso-testing h3{
    display: inline-block;
    font-size: 30px;
    left: 40px;
}
.uso-testing .uso{
    padding-left: 60px;
}

.uso p{
    padding-top: 20px
}

.uso-testing .banner{
    background-color: #086fba;
}

/*-----------------footer------------------*/
footer{
    background-color: #000;
    height: 140px;
    color: white;
    box-sizing: border-box
}
footer p{
    display: block;
}
footer p span{
    color: dodgerblue;
}
footer .redes-sociales{
}
footer .redes-sociales i{
    font-size: 30px;
    color: dodgerblue;
    margin: 10px;
}

/*-----------contacto-------*/

.contacto{
    height: 630px;
}
.formulario{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    background: white;
    border-top: 8px solid dodgerblue;
}
.formulario h3{
    color: black;
    padding: 5px 0;
    border-bottom: 2px solid darkgray;
    width: 90%;
    margin: 0 auto;
}
.formulario form{
    width: 90%;
    margin: auto;
    padding: 10px 0;
}
.formulario form i{
    color: orangered;
}

/*-----------responsive--------*/


@media screen and (max-width: 991px) and (min-width: 768px){
    .banner{
        padding: 0;
    }
    .banner .col-md-7{
        width: 390px;
    }
    .banner .col-md-5{
        width: 350px;
        float: right;
        bottom: 90px;
    }
    
}
@media screen and (max-width: 768px){
    .banner h2,p,#llamado{
        text-align: center;
    }
    header h1, h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 414px){
    header h1, h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 991px){
    .uso-testing{
        
    }
}









